<h1 mat-dialog-title>Transaction History</h1>
<div mat-dialog-content>
  <table class="table table-striped custab">
    <thead>
      <tr>
        <th>
          {{
            account_data.length == 0
              ? "Perform some action, to view your Account Statement"
              : "All Transactions"
          }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let each of account_data.reverse()">
        <td>{{ each }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="closeBtn()">Close</button>
</div>
